.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
Pulse-meta-analysis.Rproj

# Suppress folders
data_clean/
data_raw/
plots/

# Suppress data files and rsconnect folder in pulse_app
pulse_app/*.Rdata
pulse_app/rsconnect/